{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}


<div class="modal-items__cart">
  {% if carts|length > 1 %}
    <div class="cart-clear__modal">
      <span data-url="{% url 'cart:cart_clear_modal' %}" id="cartClear">
        Очистить корзину
        {% csrf_token %}
      </span>
    </div>
  {% endif %}

  {% for cart in carts  %}
    <div class='cart-product'>
      <a class="cart-product__img" href="{% url "catalog:product" cart.product_variant.product.slug %}">
        <img src="{{ cart.product_variant.product.image.url }}">
      </a>

      <div class="cart-product-modal__description">
        <div class="cart-product__characteristics">
          <div class="cart-product__title-wrap">
            <a href="{% url "catalog:product" cart.product_variant.product.slug %}" class="cart-product__title">
              {{ cart.product_variant.product.brand }}
              {{ cart.product_variant.product.name }}
            </a>
          </div>
        </div>

        <div class="cart-product__info">
          <div class="cart-product__feature">
            <div class='cart-product__size'>
              Размер: {{ cart.product_variant.size.name }}
            </div>

            <div class="cart-product__article">
              Артикул: {{ cart.product_variant.product.article }}
            </div>
          </div>

          <div class="cart-product__quantity-price">
            <div class="cart-product__prices">
              {% if cart.product_variant.product.discount %}
                <div class="cart-product__price-wrap">
                  <div class="cart-product__old-price">{{ cart.products_price }} BYN</div>

                  <div class="cart-product__price">{{ cart.products_sell_price }} BYN</div>
                </div>

              {% else %}
                <div class="cart-product__price">{{ cart.products_price }} BYN</div>
              {% endif %}
            </div>

            <div class="cart-product__quantity">
              {% if cart.quantity == 1 %}
                <button class="increase-quantity__disabled"
                        data-cart-id='{{ cart.id }}'
                        data-cart-change-url='{% url "cart:cart_change_modal" %}'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                  </svg>
                </button>
              {% else %}
                <button class="decrease-quantity"
                        data-cart-id='{{ cart.id }}'
                        data-cart-change-url='{% url "cart:cart_change_modal" %}'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                  </svg>
                </button>
              {% endif %}

              <input class="product-quantity" value="{{ cart.quantity }}" disabled>

              {% if cart.quantity >= cart.product_variant.quantity %}
                <button class="increase-quantity__disabled" id="increase" disabled>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                  </svg>
                </button>
              {% else %}
                <button class="increase-quantity"
                        data-cart-id='{{ cart.id }}'
                        data-cart-change-url='{% url "cart:cart_change_modal" %}'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                  </svg>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="cart-product__buttons">
        <div class="cart-product__button-remove">
          <a href="{% url "favorite:favorite_add" %}" class='favorite-item add-to-favorites-ajax' data-product-id='{{ cart.product_variant.product.id }}'>
            {% csrf_token %}

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart " viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
            </svg>
          </a>

          <a class="delete-product remove-from-cart"
            data-cart-id='{{ cart.id }}'
            href="{% url 'cart:cart_remove_modal' %}">
            {% csrf_token %}

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>


<div class="cart-modal__footer">
  <div class="cart-total">
    <div class="cart-total__items">
      {% if carts.total_quantity > 4 and carts.total_quantity < 21 or carts.total_quantity|get_digit:"1" == 0 %}
        <span>{{ carts.total_quantity }} товаров:</span>
      {% elif carts.total_quantity|get_digit:"1" == 1 %}
        <span>{{ carts.total_quantity }} товар:</span>
      {% elif carts.total_quantity|get_digit:"1" < 5 %}
        <span>{{ carts.total_quantity }} товара:</span>
      {% elif carts.total_quantity|get_digit:"1" > 4 %}
        <span>{{ carts.total_quantity }} товаров:</span>
      {% endif %}

      <span>{{ carts.total_price }} BYN</span>
    </div>

    <div class="cart-total__price">
      <span>Итого:</span>
      <span>{{ carts.total_price }} BYN</span>
    </div>
  </div>

  <a class="modal-button" href="{% url "orders:checkout" %}">Оформить заказ</a>
</div>
