{% extends "main/page.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
  {% include "carts/includes/modal_cart.html" %}
{% endblock modal_cart %}

{% block page %}
  <nav class="breadcrumbs-container">
    <div class="breadcrumbs-item">
        <a href="/" class="breadcrumbs-item__link">Главная</a>
    </div>

    <div class="breadcrumbs-item">
      <a href="{% url "catalog:brands" %}" class="breadcrumbs-item__link">Бренды</a>
    </div>

      <div class="breadcrumbs-item">
        {{ page_title }}
      </div>
  </nav>

  <div class="page-items">
    <div class="filter-wrap">
      <div class="dropdown-filter">
        <button onclick="myFunction()" class="dropbtn">Сортировать</button>
        <div id="myDropdown" class="dropdown-filter__content">

          <form class='filter-form' action="{% if request.GET.q %}{% url 'catalog:search' %}{% else %}{% url 'catalog:brand' slug_url %}{% endif %}" method="get">
            {% if request.GET.q %}
              <input type="hidden" name="q" value="{{ request.GET.q }}">
            {% endif %}

            <button type="submit" name="order_by" value="default">По умолчанию</button>
            <button type="submit" name="order_by" value="price">По возрастанию цены</button>
            <button type="submit" name="order_by" value="-price">По убыванию цены</button>
          </form>

        </div>
      </div>
    </div>

    <div class="items">
      {% for product in goods %}
      {% include "goods/includes/cards.html" %}
      {% endfor %}
    </div>

    {% include "goods/includes/pagination.html" %}
  </div>
{% endblock page %}
