{% extends "main/page.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
  {% include "carts/includes/modal_cart.html" %}
{% endblock modal_cart %}

{% block page %}
  {% include "includes/breadcrumbs.html" %}

  <div class="page-items">
    <div class="filter-wrap">
      <div class="dropdown-filter">
        <button onclick="myFunction()" class="dropbtn">Сортировать</button>
        <div id="myDropdown" class="dropdown-filter__content">

          <form class='filter-form' action="{% url 'catalog:sale' slug_url %}" method="get">
            <button type="submit" name="order_by" value="default">По умолчанию</button>
            <button type="submit" name="order_by" value="price">По возрастанию цены</button>
            <button type="submit" name="order_by" value="price">По убыванию цены</button>
          </form>
        </div>
      </div>
    </div>

    <div class="items">
      {% for product in goods %}
      {% include "goods/includes/cards.html" %}
      {% endfor %}
    </div>

    {% include "goods/includes/pagination.html" %}
  </div>
{% endblock page %}
