{% extends "users/profile.html" %}
{% load static %}

{% block modal_cart %}
{% include "carts/includes/modal_cart.html" %}
{% endblock modal_cart %}


{% block page %}
    <div class="reset-password">Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</div>

    <div class="registration-container">
        <form method='post' class="registration-form">
            {% csrf_token %}

            <input type="email" id="id_email" name="email" placeholder="Введите email" required>
            {% if form.email.errors %}
                <div class="field-errors">{{ form.email.errors }}</div>
            {% endif %}

            <button type="submit">Восстановить пароль</button>
        </form>
    </div>
{% endblock page %}
