@media screen and (max-width: 890px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }

  .modal-content {
    width: 580px;
  }

  .title-third-gallery {
    font-size: 40px;
  }

  .title-first-gallery {
    font-size: 45px;
  }

  .title-second-gallery {
    font-size: 65px;
  }

  .footer-conteiner__down {
    gap: 25px;
    flex-direction: column;
  }

  .footer-conteiner__up-left {
    gap: 30px;
    flex-direction: column;
  }

  .footer-container {
    padding: 40px 0;
    margin: 0 25px;
  }
}



@media screen and (max-width: 682px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }

  .modal-content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .second-gallery-block {
    display: none;
  }

  .third-gallery-block {
    display: none;
  }

  .first-gallery-block {
    grid-template-columns: repeat(1, 1fr);
  }

  .nav-links__right {
    visibility: hidden;
  }

  .nav-links__right-main {
    visibility: hidden;
  }

  .title-first-gallery {
    top: 12%;
    left: 5%;
  }

  .first-gallery-block {
    gap: 0;
  }

  .footer-conteiner__up {
    gap: 30px;
    flex-direction: column;
  }

  .footer-conteiner__up-right {
    gap: 15px;
  }

  .product-page__slider {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1240px) {
  #nav-container__down {
    display: none;
  }

  .nav-list {
    visibility: visible !important;
  }

  .product-content {
    flex-direction: column;
  }

  .product-page__main {
    gap: 40px;
    align-items: center;
  }

  .add-to {
    width: 100%;
  }

  .add-to-cart {
    width: 100%;
  }
}

@media (min-width: 891px) and (max-width: 1439px) {
  .add-to-cart a, .add-to-cart .choose-size {
    min-width: 285px;
  }
}


@media (max-width: 500px) {
  .add-to-favorite a {
    display: none;
  }
}
