
#navModalBtn:hover {
  color: rgb(225, 0, 249);
  transition: all .4s;
  cursor: pointer;
}

.nav-list {
  visibility: hidden;
}

/* The Modal (background) */
.modal-nav {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close-nav {
  color: #000;
  font-size: 54px;
  padding-top: 13px;
  width: min-content;
}

.close-nav:hover,
.close-nav:focus {
  color: rgb(225, 0, 249);
  text-decoration: none;
  cursor: pointer;
  transition: all .4s;
}
