{% extends "main/page.html" %}
{% load static %}

{% block modal_cart %}
  {% include "carts/includes/modal_cart.html" %}
{% endblock modal_cart %}

{% block page %}
  <div class="about-container">
    <div class="about-content">
      <p>
        <span>Tako store</span> — это широкий выбор стильной молодежной женской одежды.
        Мы следим за последними модными тенденциями и постоянно
        обновляем ассортимент, чтобы предложить нашим клиентам только самые актуальные и
        качественные товары.
      </p>

      <p>
        Нашей главной целью является то, чтобы каждая наша покупательница
        чувствовала себя уверенно и стильно в любой ситуации.
        Мы гордимся широким выбором моделей, размеров и цветов, чтобы удовлетворить
        потребности самых взыскательных клиентов.
      </p>

      <p>
        Приобретая товары у нас, вы можете быть уверены в их качестве, оригинальности и быстрой доставке.
      </p>

      <p>Будьте модными вместе с нами!</p>
    </div>
  </div>
{% endblock page %}
