{% extends "base.html" %}

{% load static %}

{% block modal_cart %}
  {% include "carts/includes/modal_cart.html" %}
{% endblock modal_cart %}

{% block content %}
  <div class="main-block">
    {% include "main/includes/main_gallery.html" %}

    <div class="cards-container-center">
      {% for block in content %}
        <div class="main-block">
          <div class="main-block__top">
            <div class="main-block__title">{{ block.title }}</div>
          </div>

          <div class="main-block__content">
            <div class="items">
              {% if block.title == 'Новинки' %}
                {% for product in new %}
                  {% include "goods/includes/cards.html" %}
                {% endfor %}

              {% elif block.title == 'Sale' %}
                {% for product in sale_goods %}
                  {% include "goods/includes/cards.html" %}
                {% endfor %}

              {% else %}
                {% for product in goods %}
                  {% include "goods/includes/cards.html" %}
                {% endfor %}
              {% endif%}
            </div>
          </div>

          <div class="main-block__bottom">
            <div class="main-block__link">
              <a href="{% url block.url %}"> Смотреть все </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
