{% extends "base.html" %}
{% load static %}
{% load carts_tags %}
{% user_carts request as carts %}

{% block header %}
{% include 'includes/header.html' %}
{% endblock header %}

{% block white %}{% include "includes/white_block.html" %}{% endblock white %}

{% block content %}
<div class="page-block">
  <div class="page-head">
    <div class="page-title">
      {% if request.GET.q %} Результат поиска по запросу: &laquo;{{ request.GET.q}}&raquo; {% else %} {{ page_title }} {% endif %}
    </div>
  </div>

  <div class="page-content">{% block page %}{% endblock page %}</div>
</div>
{% endblock content %}

{% block script %}
  <script src={% static "deps/js/navbar.js" %}></script>
{% endblock script %}
